.section
  .section-title
    %h2 Login
  .section-content
    = form_for :user, :url => user_session_url do |f|
      .field
        %label Username or Email
        %br/
        = f.text_field :login, :class => 'text'
      .field
        %label Password
        %br/
        = f.password_field :password, :class => 'text'
      .field
        = f.submit :Login, :class => 'button'
