#navs
  %ul
    %li{:class => (controller_name == 'statuses') ? 'current' : nil}
      = link_to t('.statuses'), root_path
    %li{:class => (controller_name == 'topics') ? 'current' : nil}
      = link_to t('.topics'), topics_path
