- if current_logined?
  .section
    .section-content
      .profile
        .avatar= link_gravatar_to_person current_user
        .name= link_to_person current_user
        .clear
      - if current_logined? and current_user.notifications.any?
        #notification-count
          = image_tag 'icons/email.png', :class => 'icon'
          = link_to current_user.notifications.count, notifications_path
