- if !form.object.errors.blank?
  = render :partial => 'share/error_messages', :locals => {:object => form.object}
.field
  = form.hidden_field :topic_id
  #editor-button-bar
  = form.text_area :content, :id => 'editor-input'
  #editor-preview
  :javascript
    setup_wmd({
                input: "editor-input",
                button_bar: "editor-button-bar",
                preview: "editor-preview",
              });
