#favorite-tags.section
  .section-title
    = t '.favorite_tags'
  .section-content
    - if current_user.favorite_tags
      %ul
        - current_user.favorite_tags.each do |tag|
          %li.tag= link_to tag, tagged_topics_path(:tag => tag), :class => 'button', :remote => true, 'data-direction' => 'right'
      .clear
    .actions= link_to t('.manage_tags'), settings_favorite_tags_path
