- @page_title = t('.page_title', :name => @person.username)
- @page_title += t(".page_count", :page => params[:page]) if params[:page]

#profile
  = render :partial => 'profile_head'

- if @followers.any?
  .section
    .section-title
      %h2 Followings
    .section-content
      = render :partial => 'user', :collection => @followers
      = paginate_for @followers
