- @page_title = t('.page_title', :name => @person.username)
- @page_title += t(".page_count", :page => params[:page]) if params[:page]

#profile
  = render :partial => 'profile_head'

- if @statuses.any?
  #statuses.section
    .section-title
      %h2 Statuses
    .section-content
      = render :partial => 'statuses/status', :collection => @statuses
    = paginate_for @statuses
