#profile
  .left.avatar= link_gravatar_to_person @person, :size => 64
  .left
    %h1
      = link_to_person @person
  .clear

- if !@topics.empty?
  #topics.section
    .section-content
      = render :partial => 'topics'
      = paginate_for @topics
      .clear
