- @page_title = t('.page_title', :id => @status.id)

= render :partial => 'subheader'

#status.section
  = render :partial => 'status', :object => @status

- content_for :sidebar do
  = render :partial => 'share/sidebar_new_topic'
