#replies
  .item-list
    - @replies.each do |reply|
      = render :partial => 'replies/reply', :locals => { :reply => reply, :user => @user_hash[reply.user_id] , :page => @replies.current_page}
  = paginate_for @replies, :remote => true
