= render :partial => 'subheader', :locals => {:current => @current}

= render :partial => 'topics'

- content_for :sidebar do
  - if current_logined?
    .section
      .section-content
        = link_to 'Create Topic', new_topic_url, :class => 'button'
  = render :partial => 'sidebar'
