= render :partial => 'subheader', :locals => {:current => :interesting}

.section
  .section-content
    .left.tips
      :markdown
        Login to custom you interesting topics list.

        1. Login or Signup
        2. Add favorite tags
        3. Return here to view you interesting topics.
    .right
      = image_tag '/images/plugin.png'
    .clear
    = link_to 'Login', login_url, :class => 'button'
    或
    = link_to 'Signup', signup_url, :class => 'button'
