#nav
  = link_to 'Dashboard', admin_dashboard_url, :class => 'button'
  = link_to 'Topics', admin_topics_url, :class => 'button'
  = link_to 'Replies', '#', :class => 'button'
  = link_to 'Users', '#', :class => 'button'
