%li{:id => "tag-#{CGI::escapeHTML tag}"}
  = link_to tag, tagged_topics_path(:tag => tag), :class => 'button'
  %span.actions= link_to 'X', settings_favorite_tags_path(:tags => tag), :method => :delete, :title => "remove tag '#{tag}'", :remote => true
