html {
}

body {
    background-image: url("/images/background.jpg");
    margin: 0;
    padding: 0;
    font: 12px DejaVu Sans,Tahoma,sans-serif;
}

a {
    text-decoration: none;
    color: #CC2A2A;
}

a:hover {
    text-decoration: underline;
}

a img {
    border: none;
    color: #FFF;
}

p {
    margin: 0 0 0.9em;
}

blockquote {
    background-color: #FFF8D0;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 10px 5px;
}

pre, code {
    background-color: #EEE;
    overflow: auto;
}

label {
    font-weight: bold;
}

/* Form element */

textarea, input.text {
    border: 1px solid #CCC;
    padding: 5px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

select {
    border: 1px solid #CCC;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 3px;
}

input.radio, input.checkbox {
    margin: 6px;
}

textarea:focus, input.text:focus, select:focus {
    -moz-box-shadow: 0 0 3px #AAA;
    -webkit-box-shadow: 0 0 3px #AAA;
    box-shadow: 0 0 3px #AAA;
}

input.button {
    cursor: pointer;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 1px 1px 3px #AAA;
    -webkit-box-shadow: 1px 1px 3px #AAA;
    box-shadow: 1px 1px 3px #AAA;
    background-color: #CC2A2A;
    border: medium none;
    color: #FFFFF9;
    padding: 3px 9px;
    font-weight: bold;
}

input.button:hover {
    background-color: #0079CE;
}

input.button.reverse {
    background-color: #0079CE;
}

input.button.reverse:hover {
    background-color: #CC2A2A;
}

input.button::-moz-focus-inner {
    border: none;
}

table.form-table {
    width: 100%;
}

table.form-table th,
table.form-table td {
    padding: 5px;
}

table.form-table th {
    text-align: left;
    padding: 11px 10px 0 0;
    vertical-align: top;
    width: 150px;
}

input.text { width: 200px; }
input.short-text { width: 100px; }
input.long-text { width: 400px; }

textarea {
    width: 400px;
    height: 100px;
}

.field {
    padding-bottom: 10px;
}

/* common */

img.icon {
  vertical-align: top;
}

.left {
  float: left;
}

.right {
  float: right;
 } 

.center-wraper {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

.clear {
    clear: both;
}

.more {
    margin-top: 10px;
}

a.button, .button-like {
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #AAA;
    -webkit-box-shadow: 1px 1px 3px #AAA;
    box-shadow: 1px 1px 3px #AAA;
    background-color: #292929;
    color: #FFFFF7;
    padding: 3px 9px;
    display: inline-block;
    margin-right: 6px;
}

a.button:hover {
    background-color: #CC2A2A;
    text-decoration: none;
}

span.red {
    font-weight: bold;
    background: #FBE3E4;
    color: #8A1F11;
    border-color: #FBC2C4;
    padding: 0 6px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

span.orange {
    font-weight: bold;
    background: #FFF6BF;
    color: #514721;
    border-color: #FFD324;
    padding: 0 6px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

span.green {
    font-weight: bold;
    background: #E6EFC2;
    color: #264409;
    border-color: #C6D880;
    padding: 0 6px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.actions {
    color: #999;
    font-size: 11px;
}

.actions a {
    color: #999;
}

.actions a:hover {
    background-color: #999;
    color: #FFF;
    text-decoration: none;
}

.flash {
    position: fixed;
    top: 50px;
    z-index: 99;
    width: 676px;
}

.flash .close {
    cursor: pointer;
    padding: 0 5px;
    float: right;
}

.error, .notice, .success {
	border: 1px solid #DDD;
	margin: 0 10px 10px;
	padding: 0.6em 0.8em;
}

.error {
    background: #FBE3E4;
    color: #8A1F11;
    border-color: #FBC2C4;
}

.error a {
    color: #8A1F11;
}

.notice {
    background: #FFF6BF;
    color: #514721;
    border-color: #FFD324;
}

.notice a {
    color: #514721;
}

.success {
    background: #E6EFC2;
    color: #264409;
    border-color: #C6D880;
}

.success a {
    color: #264409;
}

.quiet {
    color: #AAA;
}
.quiet a {
    color: #AAA;
    text-decoration: none;
}

/* header */
#header {
    height: 40px;
    background-color: #292929;
    color: #fff;
}

#header a {
    color: #FFFFF9;
}

#logo {
    float: left;
    margin: 2px 20px 0 0;
    font-size: 30px;
}

#logo a {
    text-decoration: none;
}

#search {
    float: left;
    margin-top: 6px;
}

#top-menu {
    float: right;
}

#top-menu ul {
    margin-top: 12px;
    padding: 0;
    list-style: none;
}

#top-menu ul li {
    float: left;
    padding: 0 10px;
    border-right: 1px solid #CCC;
}

#top-menu ul li.last {
    border: none;
}

/* content */
#content {
}

#content .center-wraper {
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    background-color: #FFF;
}

/* mainbar */
#mainbar {
    float: left;
    width: 720px;
    min-height: 600px;
    border-right: 1px solid #CCC;
    padding: 20px 0;
}

#mainbar .meta, #mainbar .tips, #sidebar .meta {
    color: #999;
    font-weight: bold;
}

#mainbar .section {
    margin-bottom: 30px;
    margin-top: 10px;
    padding: 0 10px;
    overflow: hidden;
}

#mainbar .section .section-content {
    margin-bottom: 10px;
}

#mainbar .item-list {
    margin: 0 0 10px;
    padding: 0;
}

#mainbar .item .avatar {
    width: 48px;
    height: 48px;
}

#mainbar .item h3 {
    font-size: 14px;
    margin: 0 0 10px;
    color: #292929;
    float: left;
    width: 100%;
}

#mainbar .item .left-column {
    float: left;
    margin-right: 10px;
}

#mainbar .item .right-column {
    float: right;
    width: 642px;
}

#mainbar .item-list .item {
    border-bottom: 1px dashed #CCC;
    padding: 15px 10px;
    overflow: hidden;
}

#mainbar .section .item {
    border-bottom: 1px dashed #CCC;
    padding: 15px 0;
    overflow: hidden;
}

.item blockquote {
    color: #444;
    background-color: transparent;
    padding: 5px 10px 0;
    margin: 10px 10px 0;
}

#subheader {
    border-bottom: 1px solid #CCC;
    position: relative;
    height: 95px;
}

#mascot {
    margin-left: 10px;
    position: absolute;
    bottom: 0px;
}

#loading-notice {
    background: #FFEE88;
    color: #292929;
    font-weight: bold;
    display: none;
    padding: 5px 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 99;
}

#navs {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 16px;
    font-weight: bold;
}

#navs ul {
    list-style: none;
    margin: 0 10px 0 0;
    padding: 0;
}

#navs li {
    float: left;
    margin-left: 10px;
}

#navs a {
    padding: 4px 10px;
    color: #FFF;
    background-color: #CCC;
    display: inline-block;
}

#navs li.current a {
    background-color: #0079CE;
}

#navs a:hover {
    text-decoration: none;
    background-color: #0079CE;
}

#tabs {
    position: absolute;
    bottom: 0px;
    right: 0px;
    line-height: 20px;
    font-size: 14px;
}

#tabs ul {
    list-style: none;
    margin: 0 10px 0 0;
    padding: 0;
}

#tabs li {
    float: left;
    margin: 0 0 -1px;
    padding: 0 0 0 4px;
}

#tabs a {
    text-decoration: none;
    font-weight: bold;
    color: #AAA;
    padding: 4px 10px;
    display: block;
    border-color: #FFF #FFF #CCC;
    border-style: solid;
    border-width: 1px;
}

#tabs .current a,
#tabs a:hover
{
    border-color: #CCC #CCC #FFF;
    border-style: solid;
    border-width: 1px;
    color: #292929;
    font-weight: bold;
}

#tabs .tagged-interesting a,
#tabs .tagged-interesting a:hover,
#tabs .tagged-interesting.current a:hover {
    color: #0079CE;
}

#tabs .own-topic a,
#tabs .own-topic a:hover,
#tabs .own-topic.current a:hover {
    color: #CC2A2A;
}

#topics .item h3 a {
    color: #292929;
}

#topics .item h3 .reply-count {
    float: right;
    margin-right: 10px;
}

#topics .item h3 .reply-count a {
    color: #FFFFF9;
    background-color: #999;
    padding: 1px 9px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 11px;
    font-weight: bold;
}

#topics .item.tagged-interesting .reply-count a {
    background-color: #0079CE;
}

#topics .item.own-topic .reply-count a {
    background-color: #CC2A2A;
}

#topics .item.reply-count a:visited,
#topics .item.tagged-interesting .reply-count a:visited,
#topics .item.own-topic .reply-count a:visited {
    background-color: #EEE;
}

#topics .item.reply-count a:hover,
#topics .item.tagged-interesting .reply-count a:hover,
#topics .item.own-topic .reply-count a:hover {
    text-decoration: none;
    background-color: #AAA;
}

#topics .meta {
    margin: 5px 0;
    font-weight: normal;
}

#topics .meta a {
    color: #999;
    font-weight: bold;
}

#mainbar .meta .tag a {
    background-color: #EEE;
    padding: 0 6px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#mainbar .meta .tag a:hover {
    text-decoration: none;
}

#topic {
    padding: 0 10px;
    margin-bottom: 30px;
}

#topic .header {
    float: left;
    margin-top: 20px;
    width: 622px;
}

#topic .header h1 {
    margin: 0;
    padding-bottom: 10px;
}

#topic .avatar {
    float: right;
    margin-top: 20px;
}

#topic .avatar img {
    height: 64px;
    width: 64px;
}

#topic .content,
#replies .content {
    margin: 10px 0;
    line-height: 1.6em;
}

#topic .content {
    margin-top: 10px;
}

#replies {
    border-top: 1px dashed #CCC;
    margin-top: 20px;
}

#replies .avatar {
    height: 48px;
    width: 48px;
}

#reply-form .avatar {
    height: 48px;
    width: 48px;
}

#reply-form textarea {
    width: 630px;
    height: 120px;
}

#new-topic-form input.title,
#new-topic-form input.tags,
#new-topic-form textarea.editor {
    width: 688px;
}

#mainbar #favorite-tags {
    list-style: none;
    margin: 0;
    padding: 0;
}

#mainbar #favorite-tags li {
    padding: 5px;
    width: 160px;
    height: 24px;
    overflow: auto;
    float: left;
}

#new-topic-form textarea.editor {
    height: 300px;
}

#editor-preview {
    border: 2px dotted #CCCCCC;
    margin-top: 10px;
    padding: 5px;
}

#topic-tags-preview {
    margin-bottom: 5px;
}

#profile {
    padding: 0 10px;
}

#profile h1 {
    margin-top: 0;
    color: #888;
    padding-bottom: 15px;
    border-bottom: 1px solid #CCC;
}

#profile h1 img {
    vertical-align: middle;
    height: 60px;
    width: 60px;
    margin-right: 5px;
}

#profile h1 input {
    margin-top: 18px;
}

#profile .detail {
    overflow: hidden;
    padding-bottom: 15px;
    border-bottom: 1px solid #CCC;
}

#profile .left-side {
    width: 350px;
    float: left;
}

#profile .detail dl {
    margin: 0 0 10px;
}

#profile .detail dl dt {
    float: left;
    width: 115px;
    color: #999;
}

#profile .vcard {
    padding-top: 8px;
}

#profile .right-side {
    width: 350px;
    float: right;
}

#profile .detail dl dd {
    margin: 0;
}

#profile ul.stats {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#profile .stats li {
    list-style-type: none;
    margin-right: 36px;
    float: left;
}

#profile .stats a {
    color: #292929;
}

#profile .stats a:hover, #profile .stats a:hover span {
    text-decoration: none;
    color: #CC2A2A;
}

#profile .stats strong {
    font-size: 36px;
    display: block;
}

#profile .stats span {
    color: #999;
}

#profile .followings h3 {
    font-size: 12px;
}

#profile .followings ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#profile .followings li {
    list-style-type: none;
    float: left;
    margin-right: 3px;
}

.paginate {
    margin-bottom: 10px;
    padding: 0 10px;
    width: 100%;
    font-size: 11px;
    font-weight: bold;
}

.paginate td.prev{
    text-align: left;
    width: 150px;
}

.paginate td.next{
    text-align: right;
    width: 150px;
}

.paginate .pages {
    text-align: center;
}

.paginate span.dot{
}

.paginate span.current_page {
    background-color: #CC2A2A;
}

/* sidebar */
#sidebar {
    width: 220px;
    float: right;
    padding-top: 20px;
}

#sidebar .section {
    margin: 0 0 30px;
    overflow: hidden;
}

#sidebar .section-title {
    font-size: 16px;
    margin-bottom: 10px;
}

#sidebar a.create_topic_button {
    font-size: 16px;
    font-weight: bold;
    padding: 4px 10px;
    color: #FFF;
    background-color: #CCC;
    display: inline-block;
}

#sidebar a.create_topic_button:hover {
    background-color: #0079CE;
    text-decoration: none;
}

#sidebar .profile .avatar {
    width: 48px;
    height: 48px;
    float: left;
    margin: 0 10px 10px 0;
}

#sidebar .profile .name{
    float: left;
    font-size: 16px;
}

#notification-count {
}

#notification-count a {
    color: #FFFFF9;
    background-color: #CC2A2A;
    padding: 1px 9px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}

#sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#sidebar li {
    padding: 6px 0;
}

#sidebar #favorite-tags li {
    float: left;
}

/* footer */

#footer {
    margin-bottom: 20px;
}

#footer .center-wraper {
    background-color: #FFF;
    border: 1px solid #CCC;
    padding: 20px 0;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}

#footer #bottom-menu{
    float: left;
}

#footer #bottom-menu ul{
    list-style: none;
    margin: 0 0 0 10px;
    padding: 0;
}

#footer #bottom-menu li{
    float: left;
    padding: 0 5px;
    border-right: 1px solid #CCC;
}

#footer #bottom-menu li.last{
    border: none;
}

#footer #copyright {
    margin: 0 10px 0 0;
    float: right;
}
