- current ||= :none
#subheader
  #mascot
    %img{:src => '/images/mascot.png'}
  #tabs
    %ul
      - if current == :account
        %li.current Account
      - else
        %li
          = link_to 'Account', settings_account_url

      - if current == :password
        %li.current Password
      - else
        %li
          = link_to 'Password', settings_password_url

      - if current == :profile
        %li.current Profile
      - else
        %li
          = link_to 'Profile', settings_profile_url
  .clear
